.home-btn {
    position: fixed;
    top: 20px;
    left: 15px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}

.home-btn:hover {
    transition: 0.2s ease;
    scale:110%;
}