body {
  margin: 0;
  font-family: "Fuzzy Bubbles", sans-serif;
  color: white;
  background: linear-gradient(to bottom, #2a004f, #15002b);
  overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bg-img {
  z-index: -1;
  position: absolute;
  height: 80vh;
  top: 10vh;
  width: 100vw;
  filter: blur(50px);
}


/* FONTS */
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

