.title {
  font-size: 5em;
  margin-bottom: 2rem;
}

.input-toggle {
  display: inline-flex;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #A893D8;
  box-shadow: inset 0px 0px 10px 0px black, 0px 4px 6.4px 0 #00000077;
}

.input-toggle button {
  padding: 0.1rem 1rem;
  font-size: 2rem;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
  margin: 0.25rem;
  width: 5rem;
  height: 4.5rem;
  text-align: center;
  transition: background-color 0.2s ease;
}

.input-toggle .active {
  background: #4e3273;
  color: white;
}

.input-toggle button svg {
  scale: 250%;
  transform: translateY(-8%);
  transition: transform 0.25s ease;
}

.input-toggle .text-mode.active svg {
  transform: translateY(-8%) translateX(4%);
}
.input-toggle .text-mode:not(.active) svg {
  transform: translateY(-8%) translateX(16%);
}

.input-toggle .voice-mode:not(.active) svg {
  transform: translateY(-8%) translateX(-16%);
}

.input-toggle .voice-mode:not.active svg {
  transform: translateY(-8%) translateX(-4%);
}

.story-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: radial-gradient(#5E4597, #5E4597);
  border-radius: 50px;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    inset 0 -5px 22.5px 0px black,
    0px 4px 6.4px #00000077;
  transition: box-shadow 0.5s ease;
}

.container.text-mode .story-input {
  transition: 0.9s ease, width 0.2s ease-out;
  width: 30rem;
}
.container.mic-mode .story-input {
  transition: 0.9s ease, width 0.3s ease-out;
  width: 100px;
}

.container.mic-mode.recording .story-input {
  transition: 0.9s ease, width 0.3s ease-out;
  width: 300px;
}

.container.mic-mode.transcription .story-input {
  transition: 0.9s ease, width 0.3s ease-out;
  width: 500px;
}

.story-input:has(input:focus) {
  transform: scale(102.5%);
}

.story-input:hover {
  transition: 0.2s ease;
  transform: scale(105%) !important;
  box-shadow:
    inset 0 -5px 22.5px 0px black,
    0px 4px 6.4px #00000077;
}

.story-input label {
  padding-left: 15px;
}

.text-input-container {
  display: flex;
  align-items: center;
}

.bg-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
  pointer-events: none;
}

.bg-gradient#highlight-gradient {
  background: radial-gradient(#7455bb, #7455bb);
  z-index: 1;
}
.story-input:hover .bg-gradient#highlight-gradient {
  opacity: 1;
}

.bg-gradient#textinput-gradient {
  background: radial-gradient(#b656bc, #7455bb);
  z-index: 5;
}
.story-input:has(input:focus) .bg-gradient#textinput-gradient {
  opacity: 1;
}

.bg-gradient#sending-gradient {
  background: radial-gradient(circle at 90% 50%, #e31791, #7455bb);
  z-index: 5;
  transition: 0.5s ease;
}
.story-input:has(input:not(:placeholder-shown)) .bg-gradient#sending-gradient {
  opacity: 1;
  transition: 5s ease;
}

.story-input .text-input-container, .story-input .voice-input-container {
  z-index: 1000;
}

.story-input input {
  border: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  outline: none;
  min-width: 50px;
  max-width: 50vw;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  transition: margin 0.2s ease;
}

.story-input input:not(:placeholder-shown) {
  /* your styles here */
  margin-left: 0.25rem;
}

.story-input input::placeholder {
  color: #b4a2ff;
}

.submit-btn {
  background: transparent;
  border: none;
  color: #909090;
  font-size: 1.5rem;
}

#submit-btn-2 {
  margin-left: 1rem;
}

.bg-gradient#button-gradient {
  background: radial-gradient(circle at 90% 50%, #ff004ca0, #503c7d);
  z-index: 7;
  transition: 1s ease;
}
.story-input.hovering-submit .bg-gradient#button-gradient {
  opacity: 1;
  transition: 0.4s ease;
}

.submit-btn:not(.disabled) {
  color: #b4a2ff;
  cursor: pointer;
  transition: 0.5s ease;
}

.submit-btn:not(.disabled):hover {
  transition: 0.2s ease;
  scale: 150%;
}

.submit-btn:not(.disabled):active {
  transition: 0.1s ease;
  scale: 75%;
}

.voice-input-container {
  display: none;
  align-items: center;
  justify-content: center;
  /* margin-left: 1rem; */
}

.voice-input-container .mic-btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voice-input-container .mic-btn img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: invert(100%);
}

.voice-input-container .mic-btn:hover {
  color: #b4a2ff;
}

.container.mic-mode .story-input:active {
  transition: 0.2s ease;
  scale: 70%;
}

.audio-label {
  margin: 0.5rem;
}

.tagline {
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1.5;
}

#loading img {
  width: 30px;
  height: 30px;
  margin: auto;
}

/* Decorative stars */
.stars {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("{{ url_for('static', filename='img/stars/star-lg.svg') }}") no-repeat center center;
  background-size: contain;
}

.top-left { top: 1rem; left: 1rem; }
.top-right { top: 1rem; right: 1rem; }
.bottom-left { bottom: 1rem; left: 1rem; }
.bottom-right { bottom: 1rem; right: 1rem; }


#center-star-ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.star {
  position: absolute;
  transition: transform 2s ease-out, opacity 2s;
  opacity: 0;
  animation: fade-in 10s ease;
}

@keyframes fade-in {
  from{opacity:0; transform: translate(0,0)}
  10%{opacity: 1;}
  90% {
    opacity:1;
  }
  to {
    opacity:0;
    transform: translate(5%,5%);
  }
}

.bottomtext {
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  bottom: 10px;
  font-size: 0.75rem;
  color: #999;
}

.about-btn {
    position: fixed;
    top: 20px;
    left: 15px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}

.about-btn:hover {
    transition: 0.2s ease;
    scale:110%;
}