html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#star-animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  z-index: 0;
}

.star {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  animation: fadeZoom 2s ease-in-out forwards;
}

@keyframes fadeZoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2) translateY(-50%);
  }
}

.text {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100vw;
    top: 10vh;
}

#loading-label {
  font-size: 2rem !important;
    z-index: 1000;
    opacity: 0;
    transition: 5s ease;
    text-align: left;
    width: 8rem;
    transform: translateX(-1rem)
}

#main-loading-tip {
  font-size: 2rem;
  transform: translateY(-10rem)
}

/* Gradient overlays */
#gradient-container {
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}
.gradient {
  position: absolute;
  opacity: 0;
  filter: blur(50px);
}


#main-loading-tip {
  
}