<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APP NAME</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <img id="bg-img" src="{{ url_for('static', filename='img/background-vector.svg') }}">
    <div class="background">
        
    </div>
</body>
</html>